@use "../_library/library";

.big-card{
    position: relative;
    background-color: library.get-color("background", "light");
    padding: 64px 0;
    @media screen and (min-width: library.$breakpoint-1) {
        padding-top: 24px;
    }
    @media screen and (min-width: library.$breakpoint-3) {
        grid-template-columns: repeat(12, 1fr);
    }
    
    &__banner{
        border-radius: 32px;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        
        &--desktop{
            border-radius: 32px;
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            display: none;
        }
        
        @media screen and (min-width: library.$breakpoint-1) {
            display: none;
            &--desktop{
                display: block;
            }
        }
    }
    
    &__card{
        border-radius: 32px;
        padding: 40px 24px;
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 98px;
        @media screen and (min-width: library.$breakpoint-1) {
            padding: 40px 32px;
            left: 55%;
            right: 40px;
            bottom: 104px;
        }
    }

    &__card-text-container{
        @media screen and (min-width: library.$breakpoint-1) {
            padding-right: 42px;
        } 
    }

    &__card-title{
        color: library.get-color("primary", "dark-purple");
        @include library.heading--18;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.heading--28;
        }
    }
    
    &__card-content{
        padding: 8px 0 24px;
        color: library.get-color("type", "emphasis-medium");
        border-bottom: 1px solid library.get-color("outline", "light");
        @include library.body--14;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.body--16;
        }
    }

    &__card-checklist-container{
        margin: 24px 0 32px;
    }

    &__card-checklist-title{
        @include library.heading--18;
        color: library.get-color("primary", "light-purple");
    }

    &__card-checklist-item{
        display: inline-block;
        margin: 16px 24px 0 0;
        @include library.body--16;
        color: library.get-color("type", "emphasis-medium");

        &--extra{
            display: none;
            @media screen and (min-width: library.$breakpoint-1) {
                display: inline-block;
            }
        }
    }

    &__card-buttons-container{
        display: flex;
        justify-content: flex-end;
    }

    &__card-button{
        font-family: 'VinilaBold', sans-serif;
        font-size: 12px;
        line-height: 12px;
        @media screen and (min-width: library.$breakpoint-0) {
            font-size: 14px;
            line-height: 14px;
        }
        padding: 17px 24px;

        &:last-child{
            margin-left: 16px;
        }
    }
}