.grid-container{
    display: grid;
    margin: 0 24px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    
    @media screen and (min-width: 480px) {
        margin: 0 124px;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
    }
}

.header{
    background-color: colors.get("support", "50");
    grid-column: span 4;
    @media screen and (min-width: 480px){
        grid-column: span 12;
    }
}

.nav{
    background-color: colors.get("support", "50");
    grid-column: span 4;
    @media screen and (min-width: 480px){
        grid-column: span 10;
    }
}

.aside{
    background-color: colors.get("support", "50");
    grid-column: span 4;
    @media screen and (min-width: 480px){
        grid-column: span 2;
    }
}