/* _library _colors */ /* _library _fonts */
body {
  font-family: "SourceSans", sans-serif;
  font-weight: 400;
}

.heading--48 {
  font-family: "Vinila", sans-serif;
  font-size: 48px;
  line-height: 60px;
}

.heading--32 {
  font-family: "Vinila", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 43.2px;
}

.heading--28 {
  font-family: "Vinila", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}

.heading--24 {
  font-family: "Vinila", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.heading--18 {
  font-family: "Vinila", sans-serif;
  font-size: 18px;
  line-height: 22.5px;
}

.body--20 {
  font-size: 20px;
  line-height: 30px;
}

.body--18 {
  font-size: 18px;
  line-height: 27px;
}

.body--16 {
  font-size: 16px;
  line-height: 24px;
}

.body--14 {
  font-size: 14px;
  line-height: 21px;
}

.caption--12 {
  font-size: 12px;
  line-height: 18px;
}

.caption--10 {
  font-size: 10px;
  line-height: 15px;
}

.overline--16 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.overline--16 {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

/* _library _grid */
.body {
  display: flex;
  justify-content: center;
}

.grid-supercontainer {
  display: grid;
  margin: 0 24px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}
@media screen and (min-width: 1024px) {
  .grid-supercontainer {
    margin: 0 80px;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
}
@media screen and (min-width: 1281px) {
  .grid-supercontainer {
    margin: 0 124px;
  }
}
@media screen and (min-width: 1601px) {
  .grid-supercontainer {
    width: auto;
    margin: 0 auto;
    grid-template-columns: repeat(12, 98px);
  }
}

.grid-container--4, .grid-container--6, .grid-container--12 {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}
@media screen and (min-width: 1024px) {
  .grid-container--4, .grid-container--6, .grid-container--12 {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }
  .grid-container--4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-container--6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-container--12 {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid-item__4-12, .grid-item__4-6, .grid-item__4-4 {
  min-width: 0;
  min-height: 0;
}

.grid-item__4-12 {
  grid-column: span 4;
}
@media screen and (min-width: 1024px) {
  .grid-item__4-12 {
    grid-column: span 12;
  }
}

.grid-item__4-6 {
  grid-column: span 4;
}
@media screen and (min-width: 1024px) {
  .grid-item__4-6 {
    grid-column: span 6;
  }
}

.grid-item__4-4 {
  grid-column: span 4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
@media screen and (min-width: 1024px) {
  .header__open-menu-button {
    display: none;
  }
}
.header__menu {
  display: none;
  margin: 0 10px;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__menu-item {
  padding: 10px;
  position: relative;
}
.header__menu-item:hover .header__submenu {
  display: block;
}
.header__submenu {
  display: none;
  position: absolute;
  padding: 5px 10px 0 0;
  top: 20px;
}
.header__submenu-item {
  display: block;
}
body {
  background-color: #F5F5F6;
  color: #0C093C;
}