@use "../_library/library";

.main{
    background-color: library.get-color("background", "light");
    
    &__title{
        margin-bottom: 32px;
        color: library.get-color("primary", "dark-purple");
        @include library.heading--24;
        @media screen and (min-width: library.$breakpoint-2) {
            @include library.heading--28;
        }
        
        &--emphasis{
            color: library.get-color("primary", "light-purple");
        }
    }

    &__subtitle{
        margin-top: 8px;
        color: library.get-color("type", "emphasis-medium");
        @include library.body--18;
        
        &--emphasis{
            color: library.get-color("type", "emphasis-high");
        }
    }

    &__container{
        width: 100%;
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr 1fr;
    }

    &__content-container{


        &--2{
            max-width: 325px;
        }
    }

    &__pane-title{
        margin-bottom: 24px;
        color: library.get-color("primary", "light-purple");
        @include library.heading--18;
    }
    
    &__pane-content{
        color: library.get-color("type", "emphasis-medium");
        @include library.body--16;
        
        &--emphasis{
            color: library.get-color("type", "emphasis-high");
        }
    }

    &__pane-checklist{
        margin-top: 8px;
        color: library.get-color("type", "emphasis-medium");
        @include library.body--16;
        
        &--emphasis{
            color: library.get-color("type", "emphasis-high");
        }

        &:first-child{
            margin-top: 0;
        }
    }

    &__pane-img{
        width: 90%;
    }
}