@use "../_library/library";

.main{
    background-color: library.get-color("background", "light");
    display: flex;
    
    &__banner{
        display: none;
        @media screen and (min-width: library.$breakpoint-1) {
            display: block;
        }
    }
    
    &__wrapper{
        padding: 64px 24px;
        
        @media screen and (min-width: library.$breakpoint-1) {
            padding: 800px 80px 800px 64px;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            padding: 100px 124px 100px 64px;
        }
        @media screen and (min-width: library.$breakpoint-3) {
            padding: 100px 240px 100px 64px;
        }
    }

    &__title{
        color: library.get-color("primary", "dark-purple");
        @include library.heading--24;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.heading--28;
        }
    }
    
    &__container{
        margin-top: 16px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 32px;
            flex-direction: row;
        }
    }
    
    &__content{
        color: library.get-color("type", "emphasis-medium");
        @include library.body--16;
        margin-top: 64px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 0;
            margin-right: 40px;
        }
    }

    &__imgs-container{

    }

    &__img{
        width: 328px;
        height: 248px;
    }

    &__glide-arrow{

    }
}