@use "../_library/library";

.trabalhe{
    background-color: library.get-color("background", "light");
    
    &__banner{
        width: 100%;
        border-radius: 4px;
        
        @media screen and (min-width: library.$breakpoint-1){
            grid-row: 1/-1;
            grid-column: 7/-1;
            margin-top: 12px;
        }
    }

    &__content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: library.$breakpoint-1){
            grid-row: 1/-1;
            grid-column: 1/6;
            padding-left: 16px;
        }
    }

    &__title{
        margin-top: 40px;
        color: library.get-color("primary", "dark-purple");
        @include library.heading--24;
        
        @media screen and (min-width: library.$breakpoint-1){
            @include library.heading--28;
            margin-top: 0;
        }
    }
    
    &__content{
        margin-top: 8px;
        color: library.get-color("type", "emphasis-medium");
        @include library.body--16;
    }

    &__big-numbers-container{
        margin-top: 42px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 42px;
        }
    }

    &__big-number{
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid library.get-color("outline", "light");
        &:last-child{
            padding: 10px 0;
            border-bottom: none;
        }
    }

    &__big-number-icon-container{

    }

    &__big-number-icon{

    }

    &__big-number-content{
        @include library.heading--18;
        display: inline-block;
        margin-left: 24px;
    }

    &__link{
        @include library.body--16;
        display: inline-block;
        margin-top: 32px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 36px;
        }

        &:hover{
            text-decoration: underline;
        }
    }
}