/* _library _grid */

$breakpoint-0: 375px;
$breakpoint-1: 1024px;
$breakpoint-2: 1280px;
$breakpoint-3: 1600px;

$desktop-column-gap: 24px;

.body{
    display: flex;
    justify-content: center;
}

.supercontainer{
    width: 100%;
}

.grid__supercontainer{
    max-width: 100%;
    margin: 0;
    grid-column: span 2;
    
    @media screen and (min-width: $breakpoint-1) {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.grid__container{
    
    display: grid;
    margin: 0;
    padding: 64px 24px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 8px;
    
    @media screen and (min-width: $breakpoint-1) {
        grid-column: span 2;
        
        padding: 80px 80px;
        grid-template-columns: repeat(12, 1fr);
        column-gap: $desktop-column-gap;
    }
    
    @media screen and (min-width: $breakpoint-2) {
        padding: 80px 124px;
    }
    
    @media screen and (min-width: $breakpoint-3) {
        padding: 80px 240px;
    }
    
    &--left{
        grid-row: 1/-1;
        grid-column: 1/2;

        @media screen and (min-width: $breakpoint-1) {    
            padding: 0 calc($desktop-column-gap / 2) 0 80px;
            grid-template-columns: repeat(6, 1fr);
        }
        
        @media screen and (min-width: $breakpoint-2) {
            padding: 0 calc($desktop-column-gap / 2) 0 124px;
        }
        
        @media screen and (min-width: $breakpoint-3) {
            padding: 0 calc($desktop-column-gap / 2) 0 240px;
        }
    }
    
    &--right{
        grid-row: 1/-1;
        grid-column: 2/3;

        @media screen and (min-width: $breakpoint-1) {    
            padding: 0 80px 0 calc($desktop-column-gap / 2);
            grid-template-columns: repeat(6, 1fr);
        }
        
        @media screen and (min-width: $breakpoint-2) {
            padding: 0 124px 0 calc($desktop-column-gap / 2);
        }
        
        @media screen and (min-width: $breakpoint-3) {
            padding: 0 240px 0 calc($desktop-column-gap / 2);
        }
    }

    &--no-padding{
        padding: 0;
    }
}

.grid__item{

    &--4-12, &--4-10, &--4-9, &--4-6, &--4-4, &--4-3, &--4-2{
        min-width: 0;
        min-height: 0;
        grid-column: span 4;
    }
    @media screen and (min-width: $breakpoint-1) {
        &--4-12{
            grid-column: span 12;
        }
        &--4-10{
            grid-column: span 10;
        }
        &--4-9{
            grid-column: span 9;
        }
        &--4-6{
            grid-column: span 6;
        }
        &--4-3{
            grid-column: span 3;
        }
        &--4-2{
            grid-column: span 2;
        }
    }
}