@use "../_library/library";

.hero{
    @include library.body--16;
    position: relative;
    background-color: library.get-color("primary", "offwhite");
    color: library.get-color("primary", "dark-purple");

    &__left-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    &__right-wrapper{
        padding-left: 0;
        opacity: 0;
        transition: opacity .5s;
        
        &--visible{
            opacity: 1;
        }

        @media screen and (min-width: library.$breakpoint-1) {
            padding-left: 12px;
        }
    }
    
    &__banner{
        min-width: 100%;
        max-width: 100%;
        height: 100%;

        &--hidden{
            display: none;
        }
        
        &--desktop{
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            display: none;
        }
        
        @media screen and (min-width: library.$breakpoint-1) {
            display: none;
            &--desktop{
                display: block;

                &-hidden{
                    display: none;
                }
            }
        }
    }
    
    &__title{
        margin-top: 32px;
        margin-bottom: 8px;
        
        @include library.heading--28;
        @media screen and (min-width: library.$breakpoint-2){
            @include library.heading--32;
        }
        
        &--emphasis{
            color: library.get-color("primary", "light-purple");
        }
    }

    &__pet-type{
        display: none;
    }
    
    &__pet-type-js-slot{
        opacity: 0;
        transition: opacity .5s;
        position: absolute;

        &--visible{
            opacity: 1;
        }
    }

    &__content{
        margin-bottom: 63px;
        color: library.get-color("type", "emphasis-medium");
        @media screen and (min-width: library.$breakpoint-1) {
            margin-bottom: 80px;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            margin-bottom: 30px;
        }

        @include library.body--16;
        @media screen and (min-width: library.$breakpoint-2){
            @include library.body--18;
        }
    }
    
    &__bottom-wrapper{
        background-color: library.get-color("primary", "dark-purple");
        height: fit-content;
        padding-top: 0;
        padding-bottom: 0;

        @include library.body--14;
        @media screen and (min-width: library.$breakpoint-2){
            @include library.body--16;
        }
    }
    
    &__card{
        height: 64px;
        transform: translateY(-32px);
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (min-width: library.$breakpoint-1) {
            height: 140px;
            transform: translateY(-70px);
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            height: 160px;
            transform: translateY(-80px);
        }
    }
}