@use "../_library/library";

.servicos{
    @include library.body--16;
    background-color: library.get-color("secondary", "yellow");
    color: library.get-color("type", "emphasis-medium");

    &__title{
        @include library.heading--28;
        color: library.get-color("primary", "light-purple");
    }
    
    &__subtitle{
        
    }
    &__link{
        color: library.get-color("primary", "dark-purple");
        @media screen and (min-width: library.$breakpoint-1) {
            text-align: end;
        }
    }
    &__card{
        height: 120px;
        margin-top: 16px;
        padding: 36px 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (min-width: library.$breakpoint-1) {
            height: 190px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            height: 190px;
        }

        &:hover{
            background-color: library.get-color("primary", "light-purple");

            & .card__content{
                color: library.get-color("background", "light");
            }
        }
    }
}