@use "../_library/library";

.hero{
    background-color: library.get-color("primary", "offwhite");

    &__left-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 64px;
        @media screen and (min-width: library.$breakpoint-1) {
            padding-top: 64px;
        } 
    }

    &__right-wrapper{
        padding-left: 0;
        @media screen and (min-width: library.$breakpoint-1) {
            padding-left: 12px;
        }    
    }
    
    &__banner{
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        
        &--desktop{
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            display: none;
        }
        
        @media screen and (min-width: library.$breakpoint-1) {
            display: none;
            &--desktop{
                display: block;
            }
        }
    }
    
    &__path{
        @include library.caption--12;
        @media screen and (min-width: library.$breakpoint-1){
            @include library.body--16;
        }
    }
    
    &__parent-page{
        color: library.get-color("type", "emphasis-high");
    }
    
    &__arrow{
        
    }
    
    &__current-page{
        color: library.get-color("type", "emphasis-medium");
        display: inline;
    }

    &__title{
        margin-top: 32px;
        color: library.get-color("type", "emphasis-high");
        @include library.heading--24;
        @media screen and (min-width: library.$breakpoint-2){
            @include library.heading--32;
        }
    }

    &__content{
        color: library.get-color("type", "emphasis-medium");
        
        @include library.body--16;
        @media screen and (min-width: library.$breakpoint-2){
            @include library.body--18;
        }
        
        &--emphasis{
            color: library.get-color("type", "emphasis-high");
        }
    }
    
    &__button{
        max-width: fit-content;
        margin-top: 16px;
        padding: 17px 24px;

        @media screen and (min-width: library.$breakpoint-2){
            margin-top: 24px;
        }
    }
}