@use "../_library/library";

.como-funciona{
    background-color: library.get-color("primary", "light-purple");

    &__top-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
        }
    }

    &__title-container{
        width: 100%;
        margin: 0 32px;
    }
    
    &__sect-title{
        text-align: center;
        margin-top: 32px;
        margin-bottom: 16px;
        color: library.get-color("type", "emphasis-medium-inverse");
        @include library.heading--18;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 0;
        }
    }
    
    &__title{
        text-align: center;
        color: library.get-color("primary", "offwhite");
        @include library.heading--24;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.heading--28;
        }
    }
    
    &__bottom-container{
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
        }
    }

    &__step{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        
        &:first-child{
            margin-top: 0;
        }
        
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 0;
            margin-left: 48px;
            
            &:first-child{
                margin-left: 0;
            }
        }
    }
    
    &__step-icon{
        max-width: 150px;
        align-self: center;
        
        @media screen and (min-width: library.$breakpoint-1) {
            max-width: 200px;
            align-self: flex-start;
            transform: translateY(30px);
        }
    }

    &__step-index{
        @include library.heading--28;
        color: library.get-color("primary", "offwhite");
    }
    
    &__step-title{
        margin: 16px 0 8px;
        @include library.heading--18;
        color: library.get-color("type", "emphasis-high-inverse");
    }
    
    &__step-content{
        @include library.body--16;
        color: library.get-color("type", "emphasis-medium-inverse");
        
        &--emphasis{
            color: library.get-color("type", "emphasis-high-inverse");
        }
    }

    &__button-container{
        margin-top: 48px;
        display: flex;
        justify-content: center;
    }

    &__button{
        max-width: fit-content;
    }
}