@use "../_library/library";

.footer{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: library.get-color("primary", "offwhite");

    &__wrapper{
        position: relative;
        padding-bottom: 36px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid library.get-color("outline", "light");
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
        }
    }

    &__logo-container{
        margin-right: 32px;
        max-width: 127px;
    
        &-svg{
            width: 100%;
        }
    }

    &__menu-container{
        width: 100%;

        @media screen and (min-width: library.$breakpoint-1) {
            width: auto;
        }

        &:last-of-type .footer__menu{
            & .footer__menu-item{
                border: none;
                @media screen and (min-width: library.$breakpoint-1) {
                    &:hover{
                        padding-bottom: 6px;
                        border-bottom: 2px solid library.get-color("primary", "light-purple");
                    }
                }
            }
            & .footer__submenu-item:last-of-type{
                border-bottom: 1px solid library.get-color("outline", "light");
                @media screen and (min-width: library.$breakpoint-1) {
                    border: none;
                    &:hover{
                        padding-bottom: 7px;
                        border-bottom: 1px solid library.get-color("outline", "light");
                    }
                }
            }
        }
    }
    
    &__menu{
        display: flex;
        flex-direction: column;
        
        @media screen and (min-width: library.$breakpoint-1) {
            margin: 0 8px;
            padding: 0;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    
    &__menu-item{
        display: inline-block;
        position: relative;
        padding: 16px 0;
        width: 100%;
        color: library.get-color("primary", "dark-purple");
        @include library.heading--16;
        border-bottom: 1px solid library.get-color("outline", "light");
        @media screen and (min-width: library.$breakpoint-1){
            width: auto;
            border: none;
            padding: 16px 8px 8px;

            &:first-of-type{
                padding-top: 0;
            }

            &:hover{
                padding-bottom: 6px;
                border-bottom: 2px solid library.get-color("primary", "light-purple");
            }
        }

        & a{
            width: 100%;
            display: inline-block;
        }
    }

    &__submenu-item{
        display: flex;
        color: library.get-color("type", "emphasis-medium");
        @include library.body--14;
        padding: 8px 24px;
        
        @media screen and (min-width: library.$breakpoint-1) {
            padding: 8px 8px;

            &:first-of-type{
                padding-top: 0;
            }

            &:hover{
                padding-bottom: 7px;
                border-bottom: 1px solid library.get-color("outline", "light");
            }
        }
    }
    
    &__phones-container{
        @include library.caption--12;
        font-style: normal;
        margin-top: 16px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin: 0 16px 0 0;
        }
    }
    
    &__adress-container{
        @include library.caption--12;
        font-style: normal;
        margin-top: 24px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 0;
        }
    }

    &__adresses-menu-item{
        border: none;
        margin-bottom: 16px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-bottom: 0;
        }
    }
    
    &__address-title{
        color: library.get-color("type", "emphasis-high");
        margin-bottom: 8px;
        @media screen and (min-width: library.$breakpoint-1) {
            padding-left: 16px;
        }
    }
    
    &__address-support-container{
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;
        @media screen and (min-width: library.$breakpoint-1) {
            padding-left: 16px;
        }
        
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    
    &__address-icon{

    }
    
    &__address-info{
        color: library.get-color("type", "emphasis-medium");
        margin-left: 8px;
        max-width: 300px;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.body--14;
            max-width: 160px;
        }
    }

    &__maps-button{
        width: max-content;
        padding: 8px 24px;
        margin-left: 16px;
        @include library.body--14;
        font-family: 'VinilaBold', sans-serif;
    }

    &__institutional{
        @include library.body--14;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    &__institutional-copyright{
        color: library.get-color("type", "emphasis-low");
        padding: 16px 16px 16px 0;
        margin-bottom: 8px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-bottom: 0;
        }
    }

    &__institutional-menu{
        color: library.get-color("primary", "light-purple");
        display: flex;
        flex-direction: column;
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
        }
    }

    &__institutional-menu-item{
        padding: 12px 16px 12px 0;

        &:hover{
            text-decoration: underline;
        }
    }

    &__institutional-social-container{
        display: flex;
        align-items: center;
        margin-top: 8px;
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 0;
        }
    }

    &__institutional-social{
        display: inline-block;
        width: 32px;
        padding: 18px;
        &:first-of-type{
            padding-left: 0;
        }
        @media screen and (min-width: library.$breakpoint-1) {
            width: 16px;
            padding: 12px;
            &:first-of-type{
                padding-left: 12px;
            }
        }
    }

}