@use "../_library/library";

.header{
    background-color: library.get-color("background", "light");
    color: library.get-color("primary", "dark-purple");
    min-height: 90px;
    min-width: -webkit-fill-available;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 3;
    @include library.heading--18;
    
    transition: box-shadow .8s;
    &--sticky{
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 0;
        box-shadow: 0 -20px 25px 15px library.get-color("neutral", "90");
    
        & ~ .fake-header{
            display: block;
        }
    }
    @media screen and (min-width: library.$breakpoint-1) {
        @include library.body--14;
        // padding-top: 34px;
    }

    &__wrapper{
        padding-top: 18px;
        padding-bottom: 18px;
    }

    &__logo-container{
        display: inline-flex;
        align-items: center;
    }
    
    &__menu-button{
        height: 32px;
        width: 32px;
        margin: 8px 0 0 35px;
        padding: 0;
        opacity: 0;

        &:checked ~ .header__nav{
            transition: top 1s;
            top: 89px !important;
        }
        &:checked + .header__menu-icon > span {
            transform: rotate(45deg);
        }
        &:checked + .header__menu-icon > span::before {
            top: 0;
            transform: rotate(0deg);
        }
        &:checked + .header__menu-icon > span::after {
            top: 0;
            transform: rotate(90deg);
        }

        @media screen and (min-width: library.$breakpoint-1){
            display: none;
        }
    }

    &__menu-icon{
        font-size: 0px;
        color: library.get-color("background", "light");
        position: absolute;
        top: 40px;
        right: 30px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        z-index: 3;
        
        @media screen and (min-width: library.$breakpoint-1){
            display: none;
        }
    }

    &__menu-icon-span, &__menu-icon-span::before, &__menu-icon-span::after {
        display: block;
        position: absolute;
        width: 32px;
        height: 3px;
        border-radius: 2px;
        background-color: library.get-color("primary", "dark-purple");
        transition-duration: .25s;
    }
    &__menu-icon-span::before {
        content: '';
        top: -8px;
    }
    &__menu-icon-span::after {
        content: '';
        top: 8px;
    }

    &__nav{
        margin-left: -24px;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        position: absolute;
        top: -120vh;
        transition: top 1s;
        
        background-color: library.get-color("neutral", "0");
        @media screen and (min-width: library.$breakpoint-1) {
            width: auto;
            height: auto;
            background-color: inherit;
            position: static;
            box-shadow: none;
            overflow: visible;
        }
    }
    
    &__nav-container{
        height: calc(100vh - 90px);
        position: static;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        @media screen and (min-width: library.$breakpoint-1) {
            height: auto;
            overflow: visible;
            flex-direction: row-reverse;
        }
    }

    &__menu-container{
        z-index: 2;
        width: 100%;
        
        @media screen and (min-width: library.$breakpoint-1) {
            width: auto;
            margin: auto;
        }
    }
    
    &__menu{
        display: flex;
        flex-direction: column;
        padding: 24px 0 24px 24px;
        border-top: 1px solid library.get-color("neutral", "10");
        border-bottom: 1px solid library.get-color("neutral", "10");
        
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
            margin: 0 10px;
            padding: 0;
            justify-content: space-between;
            align-items: center;
            border: none;
        }
    }
    
    &__menu-item{
        display: inline-block;
        position: relative;
        margin: 16px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: library.$breakpoint-1) {
            margin: 0 8px;
            flex-direction: row;
            padding: 8px 0;

            &:hover{
                padding-bottom: 6px;
                border-bottom: 2px solid library.get-color("primary", "light-purple");
            }
            &:hover .header__submenu{
                display: block;
            }
        }
        
        & a{
            width: 100%;
            display: inline-block;
            @media screen and (min-width: library.$breakpoint-1) {
                text-align: center;
            }
            @media screen and (min-width: library.$breakpoint-2) {
                min-width: max-content;
            }
        }
    }
    
    &__submenu{
        display: block;
        width: max-content;
        margin-top: 16px;
        @media screen and (min-width: library.$breakpoint-1) {
            display: none;
            position: absolute;
            top: 22px;
            left: 0;
            z-index: 2;
        }
    }
    
    &__submenu-item{
        display: flex;
        color: library.get-color("type", "emphasis-medium");
        background-color: library.get-color("type", "emphasis-high-inverse");
        transform: translateY(-1px);
        
        @include library.body--16;
        @media screen and (min-width: library.$breakpoint-1){
            border: 1px solid library.get-color("outline", "light");
            @include library.body--14;
        }
        
        &:hover{
            background-color: library.get-color("neutral", "10");
        }
        
        & a{
            width: 100%;
            text-align: left;
            padding: 12px 0;
            @media screen and (min-width: library.$breakpoint-1){
                padding: 14px 16px;
            }
        }

        &:first-child{
            border-radius: 4px 4px 0 0;
        }
        &:last-child{
            border-radius: 0 0 4px 4px;
        }
    }
    
    &__support-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        
        @media screen and (min-width: library.$breakpoint-1) {
            min-width: 245px;
            width: auto;
            flex-direction: row;
            padding: 0;
        }
    }
    
    &__search{
        color: library.get-color("type", "emphasis-medium");
        width: 100%;
        margin: 16px 16px 16px 24px;
        padding: 0;
        @media screen and (min-width: library.$breakpoint-1) {
            margin: 16px;
        }
    }

    &__cta-phone{
        color: library.get-color("primary", "light-purple");
        // display: flex;
        width: 100%;
        min-width: fit-content;
        margin: 16px 16px 16px 24px;
        padding: 0;
        @media screen and (min-width: library.$breakpoint-1) {
            margin: 16px;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            margin: 16px 0 16px 16px;
        }
    }

    &__cta-wpp{
        padding: 16px;
        position: fixed;
        right: 24px;
        bottom: 24px;
        z-index: 5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (min-width: library.$breakpoint-1) {
            right: 80px;
            bottom: 40px;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            right: 124px;
            bottom: 62px;
        }
        @media screen and (min-width: library.$breakpoint-3) {
            right: 240px;
            bottom: 120px;
        }
    }
}

.fake-header{
    display: none;
}