@use "../_library/library";

.post{
    background-color: library.get-color("background", "light");
    
    &__title{
        color: library.get-color("primary", "dark-purple");
        @include library.heading--28;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.heading--48;
        }
    }
    
    &__subtitle{
        margin-top: 8px;
        color: library.get-color("type", "emphasis-medium");
        @include library.body--18;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.heading--24;
            line-height: 36px;
            font-family: 'Vinila', sans-serif;
        }
    }

    &__container{
        
    }

    &__image{
        min-width: 100%;
        max-width: 100%;
        margin-top: 32px;
    }

    &__image-caption{
        margin-bottom: 8px;
        color: library.get-color("type", "emphasis-medium");
        @include library.caption--12;
        text-align: center;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.body--18;
        }
    }

    &__sub-heading{
        margin-top: 24px;
        color: library.get-color("type", "emphasis-medium");
        @include library.heading--18;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.heading--24;
        }
    }

    &__paragraph{
        margin-top: 16px;
        color: library.get-color("type", "emphasis-medium");
        @include library.body--18;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.body--20;
        }
    }
    
    &__card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 24px;
        background-color: library.get-color("primary", "offwhite");
        border-radius: 16px;
        padding: 24px 16px;
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
            align-items: center;
            padding: 40px;
        }
    }
    
    &__card-container{
        display: flex;
        @media screen and (min-width: library.$breakpoint-1) {
        }
    }

    &__card-icon{

    }

    &__card-subcontainer{
        margin-left: 16px;
    }
    
    &__card-title{
        color: library.get-color("primary", "dark-purple");
        @include library.heading--24;
        @media screen and (min-width: library.$breakpoint-1) {
            @include library.heading--32;
        }
    }
    
    &__card-subtitle{
        color: library.get-color("type", "emphasis-medium");
        @include library.body--16;
        margin-top: 8px;
    }
    
    &__card-button{
        display: flex;
        justify-content: center;
        @include library.button--14--light;
        padding: 16px 24px;
        margin-top: 24px;
        width: calc(100% - 54px);
        @media screen and (min-width: library.$breakpoint-1) {
            margin-top: 0;
            width: auto;
        }
    }
}