@use "../_library/library";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    
    &__logo{

    }
    &__open-menu-button{
        @media screen and (min-width: 1024px){
            display: none;
        }
    }
    &__menu-container{

    }
    &__menu{
        display: none;
        margin: 0 10px;
        padding: 0;
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__menu-item{
        padding: 10px;
        position: relative;
        &:hover .header__submenu{
            display: block;
        }
    }
    &__submenu{
        display: none;
        position: absolute;
        padding: 5px 10px 0 0;
        top: 20px;
    }
    &__submenu-item{
        display: block;
    }
    &__search{

    }
    &__cta-wpp{

    }
}