@use "./parts/colors";
@forward "./parts/colors";
@forward "./parts/fonts";
@forward "./parts/grid";

.body {
    background-color: colors.get-color("background", "light");
    color: colors.get-color("primary", "dark-purple");
}

a{ //alterar para o bloco equivalente
    color: inherit;
    text-decoration: none;
}