@use "../_library/library";

.button{
    display: flex;
    background-color: inherit;
    align-items: center;
    padding: 16px 40px;
    cursor: pointer;
    border: 1px solid library.get-color("primary", "light-purple");
    
    &--primary{
        color: library.get-color("primary", "offwhite");
        background-color: library.get-color("primary", "light-purple");
    }
    
    &--line{
        color: library.get-color("type", "emphasis-medium");
        
        &:hover{
            color: library.get-color("type", "emphasis-high");
        }
    }
    
    &--line-inverse{
        color: library.get-color("primary", "offwhite");
        border-color: library.get-color("primary", "offwhite");

        &:hover{
            color: library.get-color("type", "emphasis-high-inverse");
        }
    }
    
    &--round{
        border-radius: 48px;
    }
    
    &--borderless{
        border: none;
        padding: 16px;
    }
    
    &__content{
        margin: 0;
        font-style: normal;
    }

    &__icon{
        margin-right: 9px;
    }

    &__lone-icon{

    }
}