@use "../_library/library";

.header{
    background-color: library.get-color("background", "light");
    color: library.get-color("primary", "dark-purple");
    min-height: 90px;
    min-width: -webkit-fill-available;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    @include library.heading--18;
    
    @media screen and (min-width: library.$breakpoint-1) {
        @include library.body--14;
        padding-top: 34px;
        
        transition: box-shadow .8s;
        &--sticky{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;
            padding-top: 0;
            box-shadow: 0 -20px 25px 15px library.get-color("neutral", "90");
        
            & ~ .fake-header{
                display: block;
            }
        }
    }

    &__wrapper{
        padding-top: 18px;
        padding-bottom: 18px;
    }

    &__logo-container{
        display: inline-flex;
        align-items: center;
    }
    
    &__open-menu-button{
        padding: 0;
        display: flex;
        justify-content: end;
        @media screen and (min-width: library.$breakpoint-1){
            display: none;
        }
    }

    &__nav{
        margin-left: -24px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        box-shadow: 0 15px 25px -10px library.get-color("neutral", "90");

        position: absolute;
        top: 90px;

        background-color: library.get-color("neutral", "0");
        @media screen and (min-width: library.$breakpoint-1) {
            width: auto;
            flex-direction: row;
            background-color: inherit;
            position: static;
            box-shadow: none;
        }

        &--hidden{
            display: none;
        }
    }

    &__menu-container{
        z-index: 2;
        width: 100%;
        
        @media screen and (min-width: library.$breakpoint-1) {
            width: auto;
        }
    }
    
    &__menu{
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        
        @media screen and (min-width: library.$breakpoint-1) {
            flex-direction: row;
            margin: 0 10px;
            padding: 0;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    &__menu-item{
        display: inline-block;
        position: relative;
        min-height: 48px;
        
        & a{
            display: inline-block;
            width: 100%;
            padding: 16px 16px 16px 24px;
            @media screen and (min-width: library.$breakpoint-1) {
                padding: 16px 8px;
                text-align: center;
            }
            @media screen and (min-width: library.$breakpoint-2) {
                min-width: max-content;
                padding: 16px;
            }
        }

        @media screen and (min-width: library.$breakpoint-1) {
            &:hover .header__submenu{
                display: block;
            }
        }
    }
    
    &__submenu{
        display: block;
        width: max-content;
        @media screen and (min-width: library.$breakpoint-1) {
            display: none;
            position: absolute;
            top: 50px;
            left: 16px;
            z-index: 2;
        }
    }
    
    &__submenu-item{
        display: flex;
        color: library.get-color("type", "emphasis-medium");
        background-color: library.get-color("type", "emphasis-high-inverse");
        transform: translateY(-1px);
        
        @include library.body--16;
        @media screen and (min-width: library.$breakpoint-1){
            border: 1px solid library.get-color("outline", "light");
            @include library.body--14;
        }
        
        & a{
            width: 100%;
            text-align: left;
            padding: 12px 0 12px 24px;
            @media screen and (min-width: library.$breakpoint-1){
                padding: 14px 16px;
            }
        }

        &:first-child{
            border-radius: 4px 4px 0 0;
        }
        &:last-child{
            border-radius: 0 0 4px 4px;
        }
    }
    
    &__support-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        border-top: 1px solid library.get-color("neutral", "10");
        border-bottom: 1px solid library.get-color("neutral", "10");
        
        @media screen and (min-width: library.$breakpoint-1) {
            min-width: 245px;
            width: auto;
            flex-direction: row;
            padding: 0;
            border: none;
        }
    }
    
    &__search{
        color: library.get-color("type", "emphasis-medium");
        // display: flex;
        width: 100%;
        padding: 16px 16px 16px 24px;
        @media screen and (min-width: library.$breakpoint-1) {
            padding: 16px;
        }
    }

    &__cta-phone{
        color: library.get-color("primary", "light-purple");
        // display: flex;
        width: 100%;
        min-width: fit-content;
        padding: 16px 16px 16px 24px;
        @media screen and (min-width: library.$breakpoint-1) {
            padding: 16px;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            padding: 16px 0 16px 16px;
        }
    }

    &__cta-wpp{
        padding: 16px;
        position: fixed;
        right: 24px;
        bottom: 24px;
        z-index: 5;

        @media screen and (min-width: library.$breakpoint-1) {
            right: 80px;
            bottom: 40px;
        }
        @media screen and (min-width: library.$breakpoint-2) {
            right: 124px;
            bottom: 62px;
        }
        @media screen and (min-width: library.$breakpoint-3) {
            right: 240px;
            bottom: 120px;
        }
    }
}

.fake-header{
    display: none;
}