@use "../_library/library";

p {
    color: library.get-color("primary", "offwhite");
    margin: 20px;
    background-color: library.get-color("support", "40");
}

.grid-container{
    // inserir todas as propriedades dentro do conjunto de modificadores
    
    &--4, &--6, &--12{
        background-color: library.get-color("support", "60");
    }
}