@use "../_library/library";

.button{
    display: flex;
    background-color: inherit;
    align-items: center;

    &--light-purple{

    }

    &--dark-purple{

    }

    &--borderless{
        border: none;
    }

    &__content{
        margin: 0;
    }

    &__icon{
        margin-right: 9px;
    }
}