@use "../_library/library";

.card{
    background-color: library.get-color("background", "light");
    padding: 24px;
    box-sizing: border-box;

    &--click{

    }
    
    &--small{

    }
    
    &__content{

    }
    
    &__icon{
        margin-bottom: 16px;
    }
    
}